*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --handle-size: 3rem;
    --img-gap: .25rem
}

.cursor {
    cursor: pointer;
}

.slider__container {
    display: flex;
    justify-content: center;
    overflow: visible;
}

.slider__row{
    background-color: #feeeee;
}

.slider__row:last-child {
    padding-bottom: 10px;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translate(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

.slider > .slider__img--wrapper {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 1rem;
}

.slider__img--wrapper {
    transition: margin 250ms ease-in-out, transform 250ms ease-in-out;
    position: relative;
}

.slider__img--wrapper:hover {
    transform: scale(1.1);
    margin: 0 1rem;
    overflow: visible;
}

.movie__backdrop{
    flex: 1;
    position: absolute;
    text-align: center;
    background-color: #feeeee4f;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.movie__backdrop--content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.movie__backdrop--rating{
    width: 4rem;
}

.slider__img--wrapper:hover .movie__backdrop {
    opacity: 1;
}

.movie__backdrop > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__img {
    border-radius: 1rem;
}

.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(0,0,0,.25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #de5656;
    line-height: 0;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba(255,255,255,.5);
}

.text{
    transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text{
    transform: scale(1.1);
}

.slider__header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
}

.slider__title {
    font-size: 2rem;
    margin: 0;
}

.progress__bar{
    display: flex;
    gap: .25rem;
}

.progress__item {
    flex: 0 0 1.5rem;
    min-width: 2rem;
    height: .5rem;
    background-color: #de56563a;
}

.progress__item.active {
    background-color: #de5656;
}

.slider__skeleton--img{
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    margin: 0 var(--img-gap);
    border-radius: 1rem;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .slider{
        --items-per-screen: 3
    }
}

@media (max-width: 500px) {
    .slider{
        --items-per-screen: 2
    }
}

body {
    /* background-color: #333; */
    color: #de5656;
}